.reset-button {
  min-width: 50px;
}

.stat-name {
  min-width: 160px;
}

.stat-value {
  text-align: right;
  min-width: 100px;
}

.menu-item {
  margin: 7px 10px;
}

.phi-button {
  border-radius: 10px;
  font-weight: bold;
  padding: 7px;
}
